# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.pkl
backend/ml/artifacts/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Node
node_modules/
frontend/dist/
npm-debug.log*

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Postgres local data (if run outside docker)
pgdata/
backend/pgdata/

# Logs
*.log
